<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="author" content="Sebastian Golian">
    <title>2020-08-22</title>
<link rel="icon" href="favicon.ico"><link href="./css/vendor.5ac92ae15e17dedb01c7.css" rel="stylesheet"><link href="./css/main.5ac92ae15e17dedb01c7.css" rel="stylesheet"></head>

<body class="d-flex h-100 flex-column">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary text-light">
        <a class="navbar-brand" href="#">2020-08-22</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <main role="main" class="container-fluid flex-grow-1">
        <div class="row">
            
        </div>
    </main>

    <footer class="text-light bg-primary">
        <div class="container p-4">
            <div class="row">
                <div class="col text-left">
                    <a href="#" class="text-light">2020-08-22</a>
                </div>
                <div class="col text-right">
                    <a href="mailto:sebastiangolian@gmail.com" class="text-light">sebastiangolian@gmail.com </a>2020
                </div>
            </div>
        </div>
    </footer>

<script src="./js/vendor.5ac92ae15e17dedb01c7.js"></script><script src="./js/main.5ac92ae15e17dedb01c7.js"></script></body>

</html>