<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="author" content="Sebastian Golian">
    <title>2020-09-09</title>
<link rel="icon" href="favicon.ico"><link href="./css/vendor.1b76ba268aa990fbb039.css" rel="stylesheet"><link href="./css/main.1b76ba268aa990fbb039.css" rel="stylesheet"></head>

<body class="d-flex h-100 flex-column">
    <nav class="navbar navbar-expand-sm navbar-light bg-white text-dark">
        <a class="navbar-brand" href="#"><img src="images/logo-t-200x60.5e4ea7f62fc3fbde44f0fcbf074d33dd.png" width="200"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav ml-auto mr-5">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container-fluid p-0 position-relative flex-grow-1">
        <img src="images/bg-1900x1080.ba20ad5a9fd32bcb2b183fab5cf5d7bf.jpg" class="img-fluid opacity-3 mobile-100">
        <div class="position-absolute mt-5 fixed-top">
            <div class="col-10 col-sm-8 col-md-6 mx-auto bg-white rounded shadow p-5">
                <form>
                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="checkRemember">
                        <label class="form-check-label" for="checkRemember">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </form>
            </div>
        </div>
    </main>

    <footer class="text-light bg-dark">
        <div class="container p-4">
            <div class="row">
                <div class="col text-left">
                    <a href="https://sebastiangolian.github.io/bootstrap-templates/"
                        class="text-light">bootstrap-templates</a>
                </div>
                <div class="col text-right my-auto">
                    <a href="mailto:sebastiangolian@gmail.com" class="text-white">sebastiangolian@gmail.com </a>2020
                </div>
            </div>
        </div>
    </footer>


<script src="./js/vendor.1b76ba268aa990fbb039.js"></script><script src="./js/main.1b76ba268aa990fbb039.js"></script></body>

</html>