<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="author" content="Sebastian Golian">
    <title>2020-09-01</title>
<link rel="icon" href="favicon.ico"><link href="./css/vendor.56126634c2611959eeaa.css" rel="stylesheet"><link href="./css/main.56126634c2611959eeaa.css" rel="stylesheet"></head>

<body class="h-100">
    <!-- NAVIGATION -->
    <nav id="home" class="navbar navbar-expand-md navbar-light bg-white sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <img src="images/logo.aaa903f3f0bb5cae341cf893e87a2f0e.jpg" width="200"></a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-content"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar-content">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#philosophy">Philosophy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#connect">Connect</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- SLIDER -->
    <div id="slides" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://picsum.photos/id/870/1900/400?grayscale">
                <div class="carousel-caption mb-5">
                    <h1 class="display-2 text-shadow">BOOTSTRAP</h1>
                    <h3 class="mb-3 text-shadow">Complete Website Layout</h3>
                    <button type="button" class="btn btn-outline-light btn-lg">VIEW DEMO</button>
                    <button type="button" class="btn btn-light btn-lg">Get Started</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://picsum.photos/id/871/1900/400?grayscale">
                <div class="carousel-caption mb-5">
                    <p class="text-left align-middle">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis neque eget dui euismod,
                        quis tincidunt est interdum. Nunc fringilla nibh vitae tortor tempus efficitur. Suspendisse leo
                        orci, tincidunt eget dignissim eget, porttitor et enim. Donec laoreet mauris id mi dignissim
                        dictum ac a erat. Duis risus dui, lobortis in massa et, ultrices lacinia enim. Sed ultrices
                        vehicula enim id ornare. Nam metus sem, semper at arcu sit amet, lobortis fringilla neque...
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://picsum.photos/id/873/1900/400?grayscale">
                <div class="carousel-caption mb-5">
                    <p class="text-left align-middle">
                        Aenean eu metus eu odio auctor ullamcorper. Donec ut orci risus. Integer scelerisque nibh non
                        est scelerisque tristique. Curabitur tincidunt tincidunt purus, nec auctor felis ultricies
                        elementum. Vivamus porttitor vehicula erat, ut aliquet nibh ultrices condimentum. Donec ornare
                        turpis urna, et efficitur turpis viverra ut. Donec quis nibh elementum, luctus urna vel,
                        ultricies lacus. Nullam posuere placerat sem a aliquam. Integer dignissim lorem non ante mattis
                        malesuada. Integer vitae tincidunt leo. Fusce lacinia varius felis, sit amet congue purus porta
                        ut.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- JUMBOTRON -->
    <div class="container-fluid">
        <div class="row jumbotron">
            <div class="col-sm-12 col-lg-9">
                <p class="lead">
                    A web hosting service allows individuals and organizations to make website
                    accessible via the World Wide Web.
                </p>
            </div>
            <div class="col-sm-12 col-lg-3">
                <a href="#">
                    <button type="button" class="btn btn-outline-secondary btn-lg">Web Hosting</button>
                </a>
            </div>
        </div>
    </div>

    <!-- SERVICES -->
    <div id="services" class="container-fluid">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="display-4">Services</h1>
            </div>

            <div class="col-8 mx-auto">
                <hr class="hr-bold" />
                <p class="lead">Welcome to my Bootstrap 4 website tutorial!
                    Bootstrap is a free and open-source front-end library with HTML and
                    CSS based designs.
                </p>
            </div>
        </div>

        <div class="row text-center  mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <i class="fas fa-code text-html display-3"></i>
                <h3 class="mt-2">HTML</h3>
                <p>Built with the lastest version of HTML, HTML5.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <i class="fas fa-bold text-bootstrap display-3"></i>
                <h3 class="mt-2">BOOTSTRAP</h3>
                <p>Built with the lastest version of Bootstrap, Bootstrap 4.</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <i class="fab fa-css3 text-css3 display-3"></i>
                <h3 class="mt-2">CSS3</h3>
                <p>Built with the lastest version of CSS, CSS3.</p>
            </div>
        </div>
    </div>

    <!-- ABOUT -->
    <div id="about" class="container-fluid mt-5 bg-dark text-light">
        <div class="row">
            <div class="col-sm-6 p-4">
                <h2>About</h2>
                <p>The columns will automatically stack on top of each other when
                    the screen is less than 576px wide.</p>
                <p>Resize the browser window to see the effect. Responsive web
                    design has become more important as the amount of mobile traffic now
                    accounts for more than half of total internet traffic.
                </p>
                <p>It can also display the web page differently depending on the
                    screen size of viewing device.
                </p>
                <br />
                <a href="#" class="btn btn-outline-light">Learn More</a>
            </div>
            <div class="col-sm-6 p-4">
                <img class="img-fluid img-thumbnail rounded" src="https://picsum.photos/id/700/800/400?grayscale">
            </div>
        </div>
    </div>

    <!-- GALLERY BUTTON BACKGROUND -->
    <div class="container-fluid headerimage p-0 position-relative">
        <div class="col-md-12 p-0">
            <img src="https://picsum.photos/id/701/1900/400?grayscale" class="img-fluid">
        </div>
        <div class="container">
            <div class="btn-wrapper text-center position-absolute w-100 mx-auto mb-2 fixed-bottom">
                <button class="btn btn-outline-dark btn-light" data-toggle="collapse"
                    data-target="#gallery">Gallery</button>
            </div>
        </div>
    </div>

    <!-- GALLERY -->
    <div id="gallery" class="container-fluid collapse mt-5">
        <div class="row text-center">
            <div class="col-sm-6 col-md-3 p-4">
                <img class="img-fluid" src="https://picsum.photos/id/1/400/400?grayscale">
            </div>
            <div class="col-sm-6 col-md-3 p-4">
                <img class="img-fluid" src="https://picsum.photos/id/2/400/400?grayscale">
            </div>
            <div class="col-sm-6 col-md-3 p-4">
                <img class="img-fluid" src="https://picsum.photos/id/3/400/400?grayscale">
            </div>
            <div class="col-sm-6 col-md-3 p-4">
                <img class="img-fluid" src="https://picsum.photos/id/4/400/400?grayscale">
            </div>
        </div>
    </div>

    <!-- TEAM -->
    <div id="team" class="container-fluid mt-5">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="display-4">Team</h1>
                <hr class="hr-bold" />
            </div>
        </div>
        <div class="row mt-5 px-2">
            <div class="col-sm-4">
                <div class="card border-0">
                    <img class="card-img-top" src="https://picsum.photos/id/4/400/400?grayscale">
                    <div class="card-body">
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-text">
                            John is an Internet entrepreneur with almost 20 years of experience.
                        </p>
                        <a href="#" class="btn btn-outline-secondary">See profile</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-0">
                    <img class="card-img-top" src="https://picsum.photos/id/5/400/400?grayscale">
                    <div class="card-body">
                        <h4 class="card-title">Mary Jo</h4>
                        <p class="card-text">
                            John is a designer with almost 10 years of digital design experience.
                        </p>
                        <a href="#" class="btn btn-outline-secondary">See profile</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-0">
                    <img class="card-img-top" src="https://picsum.photos/id/6/400/400?grayscale">
                    <div class="card-body">
                        <h4 class="card-title">Mery Doe</h4>
                        <p class="card-text">
                            John is a designer with almost 5 years of web development experience.
                        </p>
                        <a href="#" class="btn btn-outline-secondary">See profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- OUR PHILOSOPHY -->
    <div id="philosophy" class="container-fluid mt-5">
        <div class="row">
            <div class="col-lg-6 p-4">
                <h2>Our Philosophy</h2>
                <p>We know that greatness in a disruptive era requires bold ambition, curious and
                    talent and a culture that believes we're smarter together.
                </p>
                <p>Resize the browser window to see the effect. Responsive web design has become
                    more important as the amount of mobile traffic now accounts for more than half
                    of total internet traffic.
                </p>
                <br />
                <a href="#" class="btn btn-dark">Learn More</a>
            </div>
            <div class="col-lg-6 p-4">
                <img class="img-fluid img-thumbnail rounded" src="https://picsum.photos/id/7/800/300?grayscale">
            </div>
        </div>
    </div>

    <!-- CONNECT -->
    <div id="connect" class="container-fluid mt-5">
        <div class="row text-center">
            <div class="col-12">
                <h2>Connect</h2>
            </div>
            <div class="col-12 social">
                <a href="#"><i class="fab fa-facebook display-4 m-3 text-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter display-4 m-3"></i></a>
                <a href="#"><i class="fab fa-google-plus-g display-4 m-3 text-danger"></i></a>
                <a href="#"><i class="fab fa-instagram display-4 m-3 text-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube display-4 m-3 text-danger"></i></a>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer id="contact">
        <div class="container-fluid bg-dark text-light pt-4 mt-5">
            <div class="row text-center">
                <div class="col-md-4">
                    <h5>Address</h5>
                    <hr class="hr-light">
                    <p>100 Street</p>
                    <p>City, State, 00-000</p>
                </div>
                <div class="col-md-4">
                    <h5>Our Hours</h5>
                    <hr class="hr-light">
                    <p>Monday: 9:00 - 17:00</p>
                    <p>Saturday: 10:00 - 16:00</p>
                    <p>Sunday: closed</p>
                </div>
                <div class="col-md-4">
                    <h5>Contact</h5>
                    <hr class="hr-light">
                    <p>email@example.com</p>
                    <p>PHONE: 777-777-777</p>
                    <p>FAX: 777-777-777</p>
                </div>
            </div>
        </div>
    </footer>

<script src="./js/vendor.56126634c2611959eeaa.js"></script><script src="./js/main.56126634c2611959eeaa.js"></script></body>

</html>