<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="author" content="Sebastian Golian">
    <title>2020-08-31</title>
<link rel="icon" href="favicon.ico"><link href="./css/vendor.e10001caeeefdf084698.css" rel="stylesheet"><link href="./css/main.e10001caeeefdf084698.css" rel="stylesheet"></head>

<body class="d-flex h-100 flex-column">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary text-light mb-3">
        <a class="navbar-brand" href="#">2020-08-31</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container flex-grow-1">
        <div class="row h-100">
            <div class="col-md-10 mx-auto my-auto text-white lead">
                <div class="row">
                    <div class="col-lg-6 bg-danger text-right p-5">
                        <h3>Chcesz czytać dalej?</h3>
                        <h3>Odblokuj wyświetlanie reklam.</h3>
                        <p>To dzięki reklamom możemy dostarczać Tobie wysokiej jakości artykuły</p>
                        <h4>Wyłącz AdBlocka.</h4>
                        <p>Nie emitujemy uciążliwych reklam.</p>
                    </div>
                    <div class="col-lg-6 bg-dark p-5">
                        <div class="row m-3">
                            <div class="col-4">
                                <img class="img-fluid" src="icons/acde23433470a8558ec720e6f11b4593.svg"/>
                            </div>
                            <div class="col-8">
                                <p class="mt-3">1. Wyłącz Adblocka</p>
                            </div>
                        </div>

                        <div class="row m-3 mt-5">
                            <div class="col-4">
                                <img class="img-fluid" src="icons/0894b6af779c11500c457f1db53bc6d7.svg" />
                            </div>
                            <div class="col-8">
                                <p class="mt-3">2. Odśwież stronę</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="text-light bg-primary">
        <div class="container p-4">
            <div class="row">
                <div class="col text-left">
                    <a href="https://sebastiangolian.github.io/bootstrap-templates/"
                        class="text-light">bootstrap-templates</a>
                </div>
                <div class="col text-right">
                    <a href="mailto:sebastiangolian@gmail.com" class="text-light">sebastiangolian@gmail.com </a>2020
                </div>
            </div>
        </div>
    </footer>


<script src="./js/vendor.e10001caeeefdf084698.js"></script><script src="./js/main.e10001caeeefdf084698.js"></script></body>

</html>