<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="author" content="Sebastian Golian">
    <title>2020-08-23</title>
<link rel="icon" href="favicon.ico"><link href="./css/vendor.099ee64060496c141421.css" rel="stylesheet"><link href="./css/main.099ee64060496c141421.css" rel="stylesheet"></head>

<body class="d-flex h-100 flex-column">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary text-light">
        <a class="navbar-brand" href="#">2020-08-23</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <main role="main" class="container-fluid flex-grow-1 my-2">
        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron" id="jumbotron">
                    <h1 class="display-4">Hello, world!</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                        attention to featured content or information.</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Pages
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Articles</li>
                        <li class="list-group-item">Blog</li>
                        <li class="list-group-item">Users</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 my-1">
                <div class="card flex-md-row box-shadow">
                    <div class="card-body">
                        <strong class="d-inline-block mb-2 text-primary">Category</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Title</a>
                        </h3>
                        <div class="mb-1 text-muted">2019-01-01</div>
                        <small class="card-text mb-auto">This is a wider card with supporting text below as a natural
                            lead-in to
                            additional content.</small>
                        <a href="#"><small>Continue...</small></a>
                    </div>
                    <img class="card-img-right flex-auto" src="https://picsum.photos/g/200?image=11">
                </div>
            </div>
            <div class="col-lg-4 my-1">
                <div class="card flex-md-row box-shadow">
                    <div class="card-body">
                        <strong class="d-inline-block mb-2 text-primary">Category</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Title</a>
                        </h3>
                        <div class="mb-1 text-muted">2019-01-01</div>
                        <small class="card-text mb-auto">This is a wider card with supporting text below as a natural
                            lead-in to
                            additional content.</small>
                        <a href="#"><small>Continue...</small></a>
                    </div>
                    <img class="card-img-right flex-auto" src="https://picsum.photos/g/200?image=12">
                </div>
            </div>
            <div class="col-lg-4 my-1">
                <div class="card flex-md-row box-shadow">
                    <div class="card-body">
                        <strong class="d-inline-block mb-2 text-primary">Category</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Title</a>
                        </h3>
                        <div class="mb-1 text-muted">2019-01-01</div>
                        <small class="card-text mb-auto">This is a wider card with supporting text below as a natural
                            lead-in to
                            additional content.</small>
                        <a href="#"><small>Continue...</small></a>
                    </div>
                    <img class="card-img-right flex-auto" src="https://picsum.photos/g/200?image=13">
                </div>
            </div>
        </div>
    </main>

    <footer class="text-light bg-primary">
        <div class="container p-4">
            <div class="row">
                <div class="col text-left">
                    <a href="https://sebastiangolian.github.io/bootstrap-templates/"
                        class="text-light">bootstrap-templates</a>
                </div>
                <div class="col text-right">
                    <a href="mailto:sebastiangolian@gmail.com" class="text-light">sebastiangolian@gmail.com </a>2020
                </div>
            </div>
        </div>
    </footer>

<script src="./js/vendor.099ee64060496c141421.js"></script><script src="./js/main.099ee64060496c141421.js"></script></body>

</html>